/**
 * @file Stylesheet for the Contest module.
 */
.even {
  background-color: #ffffff;
}
.odd {
  background-color: #dddddd;
}
fieldset.contest-date-wrapper {
  width: 30.0rem;
}
fieldset.contest-date-wrapper * {
  display: inline;
}
fieldset.contest-date-wrapper option {
  display: block;
}
fieldset.contest-date-wrapper select.contest-date-day {
  width: 3.0rem;
}
fieldset.contest-date-wrapper select.contest-date-month {
  width: 6.0rem;
}
fieldset.contest-date-wrapper select.contest-date-year {
  width: 4.0rem;
}
a:link span.contest-raquo {
  padding-left: 0.5rem;
  padding-right: 1.0rem;
}
a:hover span.contest-raquo,
a:active span.contest-raquo {
  padding-left: 1.0rem;
  padding-right: 0.5rem;
}
#contest-profile-toggle,
#contest-tnc-toggle {
  font-weight: bold;
}
#contest-tnc-wrapper {
  margin-top: 1.0rem;
}
